@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://use.typekit.net/abd7ahl.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
  @apply capitalize;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.btn.btn-custom {
  @apply shadow-md;
  @apply rounded-lg;
  @apply my-5;
  @apply border-0;
  @apply w-full;
  @apply text-white;
  @apply font-ui;
  @apply font-light;
  @apply text-sm;
  background-color: #311c31;
  @layer focus:outline-none;
  @layer focus:shadow-outline;
}

.card.card-shadow {
  @apply shadow-center;
  @apply rounded-xl;
  @apply p-10;
  @apply border-slate-700;
  @apply shadow-2xl;
  @apply shadow-slate-900;
  @apply my-5;
  @apply border-2;
}

.input-text {
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-white;
  @apply leading-tight;
  @apply focus:outline-none;
  @apply bg-transparent;
  @apply border-slate-700;
  @apply border-2;
}

.input-text:focus {
  @apply border-blue-500;
}

.input-text:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
}

.input-textarea {
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-gray-700;
  @apply leading-tight;
  @apply focus:outline-none;
  @apply h-24;
}

.input-textarea:focus {
  @apply border-blue-500;
}

.input-textarea:disabled {
  @apply bg-gray-300;
  @apply cursor-not-allowed;
}

.input-error {
  @apply border-red-500;
}
