@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.typekit.net/abd7ahl.css");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
  @apply capitalize;
  
}

.btn.btn-ghost {
  @apply shadow-none;
}

.btn.btn-large {
  @apply shadow-md;
  @apply capitalize;
  @apply text-lg;
  @apply rounded-lg;
  @apply my-5;
  @apply border-0;
  @apply hover:bg-slate-800;
  @apply w-full;
  @apply text-white;
  @apply disabled:bg-slate-800;
  @apply disabled:cursor-not-allowed;
  @apply disabled:opacity-50;
  background-color: #311c31;
}

.btn.btn-custom {
  @apply shadow-md;
  @apply capitalize;
  @apply rounded-lg;
  @apply my-5;
  @apply border-0;
  @apply hover:bg-slate-800;
  @apply w-full;
  @apply text-white;
  @apply disabled:bg-slate-800;
  @apply disabled:cursor-not-allowed;
  @apply disabled:opacity-50;
  background-color: #311c31;
}

.card.card-shadow {
  @apply shadow-center;
  @apply rounded-xl;
  @apply p-10;
  @apply border-slate-700;
  @apply shadow-2xl;
  @apply shadow-slate-900;
  @apply my-5;
  @apply border-2
}
